PDS_HOSTNAME=phlogiston.social
PDS_PORT=3000
PDS_DATA_DIRECTORY=/pds
PDS_BLOBSTORE_DISK_LOCATION=/pds/blocks
PDS_BLOB_UPLOAD_LIMIT=52428800
PDS_INVITE_REQUIRED=true
PDS_DID_PLC_URL=https://plc.directory
PDS_BSKY_APP_VIEW_URL=https://api.bsky.app
PDS_BSKY_APP_VIEW_DID=did:web:api.bsky.app
PDS_REPORT_SERVICE_URL=https://mod.bsky.app
PDS_REPORT_SERVICE_DID=did:plc:ar7c4by46qjdydhdevvrndac
PDS_CRAWLERS=https://bsky.network
PDS_JWT_SECRET=SET_OWNER_ONLY_AT_ACTIVATION
PDS_DPOP_SECRET=SET_OWNER_ONLY_AT_ACTIVATION
PDS_ADMIN_PASSWORD=SET_OWNER_ONLY_AT_ACTIVATION
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX=SET_OWNER_ONLY_AT_ACTIVATION
LOG_ENABLED=true
